<html>
<head>

<title>{{ website_title }}</title>

</head>

<body bgcolor="{{ website_bgcolor }}">

<H1>Hello, {{ website_username }}!</H1>

This is the website for <a href="{{ website_href_url }}">{{ website_link_name }}</a>

<center><img src="{{ website_image_src }}" align="bottom"> </center>

Send them a mail at <a href="mailto:{{ website_email_address }}">q{{ website_email_address }}</a>.


</body>

</html>
